{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'pipedlyapp/style.css' %}" />

<html>
  <header>
    <div id="header"></div>    
  </header>    
  <head>
    <p id="Log"></p>    
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
          createCrashChart();
          createChurnChart();
          createIssuesOverTimeChart();
	  createSentimentByThemeChart();
      }

      function createChurnChart() {
          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Issue');
          data.addColumn('number', 'Count');
          var percentages = JSON.parse('{{ churn_percentages|safe }}')          
          var labels = JSON.parse('{{ churn_labels|safe }}')
          for(var i=0; i<percentages.length; i++) {
              // document.getElementById("Log").innerHTML = percentages[i]
              data.addRow([labels[i],percentages[i]]);
          }

          // Set chart options
          var options = {'title':'Churn chart',
                         'width':600,
                         'height':400,
                        'pieHole':0.4,
                        'backgroundColor': 'none',
                        'titleTextStyle':{color:'#FFFFFF'},
                        'legendTextStyle':{color:'#FFFFFF'},
                        'colors':['blue','#9780FF','purple','#9A08FF'],
                        }

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);

          function selectHandler() {
              var selectedItems = chart.getSelection();
              if(!(selectedItems && selectedItems.length>0)) {
                  return;
              }
              var selectedItem = selectedItems[0];
              if (selectedItem) {
                  var value = data.getValue(selectedItem.row, 0);
                  window.location.href = "../filterposts?theme="+value+"?entity"+value;
              }
          }          

          google.visualization.events.addListener(chart, 'select', selectHandler);
      }

      function createCrashChart() {
          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Issue');
          data.addColumn('number', 'Count');
          var percentages = JSON.parse('{{ crash_percentages|safe }}')          
          var labels = JSON.parse('{{ crash_labels|safe }}')
          for(var i=0; i<percentages.length; i++) {
              // document.getElementById("Log").innerHTML = percentages[i]
              data.addRow([labels[i],percentages[i]]);
          }

          // Set chart options
          var options = {'title':'Crash bug chart',
                         'width':600,
                         'height':400,
                        'pieHole':0.4,
                        'backgroundColor': 'none',
                        'titleTextStyle':{color:'#FFFFFF'},
                        'legendTextStyle':{color:'#FFFFFF'},
                        'colors':['orange','#FFA18B','brown','#FF7413']}

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.PieChart(document.getElementById('chart2_div'));
          chart.draw(data, options);
      }

      function createIssuesOverTimeChart() {
          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Issue');
          data.addColumn('number', 'Count');
          var percentages = JSON.parse('{{ counts|safe }}')          
          var labels = JSON.parse('{{ dates|safe }}')
          for(var i=0; i<percentages.length; i++) {
              // document.getElementById("Log").innerHTML = percentages[i]
              data.addRow([labels[i],percentages[i]]);
          }

          // Set chart options
          var options = {'title':'Issues over time',
                         'width':600,
                         'height':400,
                        'backgroundColor': 'none',
                        'titleTextStyle':{'color':'#FFFFFF'},
                        'legendTextStyle':{'color':'#FFFFFF'},
                         'curveType':'function',
                         'hAxis.TextStyle':{'color':'#FFFFFF'},
                         'hAxis.gridlines':{'color':'#FFFFFF'},
                         'hAxis.titleTextStyle':{'color':'#FFFFFF'},
                         'vAxis.TextStyle':{'color':'#FFFFFF'},
                         'vAxis.gridlines':{'color':'#FFFFFF'},
                         'vAxis.titleTextStyle':{'color':'#FFFFFF'},
                         'hAxis.baselineColor': {'color':'#FFFFFF'},
                        }

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart3_div'));
          chart.draw(data, options);
      }
              
      function createSentimentByThemeChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Theme');
            data.addColumn('number', 'Neutral');
            data.addColumn('number', 'Positive');
            data.addColumn('number', 'Negative');
	 	  var Theme = JSON.parse('{{ theme|safe }}')      
		  var Neutral = JSON.parse('{{ neutral|safe }}')          
		  var Positive = JSON.parse('{{ positive|safe }}')          
        	  var Negative = JSON.parse('{{ negative|safe }}')
           for(var i=0; i<Theme.length; i++) {
              // document.getElementById("Log").innerHTML = percentages[i]
              data.addRow([Theme[i],Neutral[i],Positive[i],Negative[i]]);	
          }
        
	// var data = google.visualization.arrayToDataTable([
        //  ['Year', 'Sales', 'Expenses'],
        //  ['2004',  1000,      400],
        //  ['2005',  1170,      460],
        //  ['2006',  660,       1120],
        //  ['2007',  1030,      540]
       // ]);

        var options = {
          title: 'Sentiment By Theme',
          hAxis: {title: 'Theme', titleTextStyle: {color: '#FFFFFF'}},
	  'width':600,
          'height':400,
          'backgroundColor': 'none',
          'titleTextStyle':{color:'#FFFFFF'},
          'legendTextStyle':{color:'#FFFFFF'},
         // 'colors':['blue','#9780FF','purple','#9A08FF'
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart4_div'));
        chart.draw(data, options);
      }
      
    </script>
  </head>

  <body>
    <!--Div that will hold the chart-->
    <table id="dashboard" height="1000" width="1200">
    <tr>
            <td >
                <table id="chart_table" width="400" border="0">
                    <td><div id="chart_div"></td>
                </table>
            </td>
            <td>
                <table id="chart2_table" width="400" border="0">
                    <tr><td><div id="chart2_div"></td></tr>
                </table>
            </td>
     </tr>
     <tr>       
            <td>
                <table id="chart3_table" width="400" border="0">
                    <tr><td><div id="chart3_div"></td></tr>
                </table>
            </td>
            <td>
                <table id="chart4_table" width="400" border="0">
                    <tr><td><div id="chart4_div"></td></tr>
                </table>
            </td> 
    </tr>
        </table>       
  </body>    
</html>
